**Universidade Estadual de Campinas - Unicamp**

**Faculdade de Tecnologia - FT**

**Autor:** Ulisses Martins Dias

**Disciplina:** TT003 - Tópicos em Computação e Informática III

**Trabalho 01:** Aprendizado Supervisionado

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ulissesdias/tt003/blob/main/trabalhos/trabalho01.ipynb)

# Titanic Dataset

Usaremos o banco de dados do Titanic. Vamos começar com uma breve introdução.

## Introdução

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas de que nem Deus poderia afundar aquele navio.

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912. No caminho, passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte com mais de 1500 pessoas a bordo, um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 metros de profundidade e a 650 quilômetros a sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, gerando vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje, o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

Neste exercício, temos a lista de pessoas que estavam no Titanic com alguns dados de cada uma dessas pessoas. Os dados são apenas dados, podemos gerar alguma informação a partir deles?

## Importando Dados de Entrada

In [ ]:
## Importando as bibliotecas necessárias
import pandas as pd
import matplotlib.pyplot as plt

## Importando o banco de dados com as listas de passageiros.
titanic = pd.read_csv('https://raw.github.com/mattdelhey/kaggle-titanic/master/Data/train.csv')

## Colocando os dados na tela
titanic

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Separando em Treino e Teste

In [ ]:
## Obtendo 80% dos dados para treino de forma aleatória
train = titanic.sample(frac=0.8,random_state=42)

## Colocando para teste tudo o que não foi usado no treino
test  = titanic.drop(train.index)

## Mostrando um resumo na tela.
print(train.describe(include = "all"))
print("----")
print(test.describe(include = "all"))

          survived      pclass  \
count   713.000000  713.000000
unique         NaN         NaN
top            NaN         NaN
freq           NaN         NaN
mean      0.388499    2.312763
std       0.487751    0.832329
min       0.000000    1.000000
25%       0.000000    2.000000
50%       0.000000    3.000000
75%       1.000000    3.000000
max       1.000000    3.000000

                                                     name   sex         age  \
count                                                 713   713  569.000000
unique                                                713     2         NaN
top     Moubarek, Master. Halim Gonios ("William George")  male         NaN
freq                                                    1   460         NaN
mean                                                  NaN   NaN   29.531933
std                                                   NaN   NaN   14.934686
min                                                   NaN   NaN    0.420000
25%                                                   NaN   NaN   20.500000
50%                                                   NaN   NaN   28.000000
75%                                                   NaN   NaN   38.000000
max                                                   NaN   NaN   80.000000

             sibsp      parch ticket        fare cabin embarked
count   713.000000  713.00000    713  713.000000   158      711
unique         NaN        NaN    563         NaN   120        3
top            NaN        NaN   1601         NaN     D        S
freq           NaN        NaN      6         NaN     3      510
mean      0.518934    0.41094    NaN   32.970202   NaN      NaN
std       1.078385    0.83346    NaN   52.323284   NaN      NaN
min       0.000000    0.00000    NaN    0.000000   NaN      NaN
25%       0.000000    0.00000    NaN    7.925000   NaN      NaN
50%       0.000000    0.00000    NaN   14.500000   NaN      NaN
75%       1.000000    1.00000    NaN   31.000000   NaN      NaN
max       8.000000    6.00000    NaN  512.329200   NaN      NaN
----
          survived      pclass  \
count   178.000000  178.000000
unique         NaN         NaN
top            NaN         NaN
freq           NaN         NaN
mean      0.365169    2.292135
std       0.482836    0.853074
min       0.000000    1.000000
25%       0.000000    1.000000
50%       0.000000    3.000000
75%       1.000000    3.000000
max       1.000000    3.000000

                                                     name   sex         age  \
count                                                 178   178  145.000000
unique                                                178     2         NaN
top     Cumings, Mrs. John Bradley (Florence Briggs Th...  male         NaN
freq                                                    1   117         NaN
mean                                                  NaN   NaN   30.355172
std                                                   NaN   NaN   12.825984
min                                                   NaN   NaN    0.670000
25%                                                   NaN   NaN   20.000000
50%                                                   NaN   NaN   30.000000
75%                                                   NaN   NaN   39.000000
max                                                   NaN   NaN   62.000000

             sibsp       parch    ticket       fare cabin embarked
count   178.000000  178.000000       178  178.00000    46      178
unique         NaN         NaN       165        NaN    42        3
top            NaN         NaN  PC 17572        NaN   D33        S
freq           NaN         NaN         3        NaN     2      134
mean      0.539326    0.264045       NaN   29.13593   NaN      NaN
std       1.198456    0.674767       NaN   37.31404   NaN      NaN
min       0.000000    0.000000       NaN    0.00000   NaN      NaN
25%       0.000000    0.000000       NaN    7.89580   NaN      NaN
50%       0.000000    0.000000       NaN   13.00000   NaN      NaN
75%       1.000000    0.000000       NaN   30.87500   NaN      NaN
max       8.000000    5.000000       NaN  263.00000   NaN      NaN

## Pré-processamento

Vamos olhar o banco de dados para decidir o nosso pré-processamento. Usaremos como fonte de informação o banco de dados de treino. Note com o comando a seguir que apenas **age**, **cabin** e **embarked** possuem *missing values*.

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 713 entries, 709 to 619
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  713 non-null    int64
 1   pclass    713 non-null    int64
 2   name      713 non-null    object
 3   sex       713 non-null    object
 4   age       569 non-null    float64
 5   sibsp     713 non-null    int64
 6   parch     713 non-null    int64
 7   ticket    713 non-null    object
 8   fare      713 non-null    float64
 9   cabin     158 non-null    object
 10  embarked  711 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.8+ KB

### Tratando Missing Values

De alguma forma, teremos que lidar com os missing values para os
 campos numéricos. Para **age**, vamos utilizar uma
 estratégia de preencher os dados que estão faltando com a mediana
 da coluna do banco de dados de treino em todos os casos.

 Para não contaminar os dados, **jamais use valores que estão no banco de dados de teste como fonte de informação para fazer esse pré-processamento**.

In [ ]:
## Preenchendo dados faltantes com a mediana do treino
medianAge = train.age.median()
train['age'] = train.age.fillna(medianAge)
test['age']  = test.age.fillna(medianAge)

No caso de **Cabin**, os missing values possuem uma semântica associada, são pessoas que não possuem cabines. Nesse caso, a falta de informação (missing values) é, por si só, uma informação. Vamos considerar apenas dois grupos de pessoas, as sem cabine e as com cabine.

In [ ]:
train["cabin"] = train.cabin.notna().astype(int)
test["cabin"]  = test.cabin.notna().astype(int)

No caso de embarked, temos dois registros nulos apenas. Como grande parte das pessoas embarcaram em Southampton, iremos dar um "chute" e assumir que esses dois passageiros vieram de lá. Isso possivelmente inclui ruído no modelo. Uma outra abordagem seria eliminar os registros. Como são registros não confiáveis e são bem poucos, qualquer uma das abordagens seria válida.

In [ ]:
## Código para substituir NaN por S
train["embarked"] = train.embarked.fillna("S")
test["embarked"] = test.embarked.fillna("S")

Agora que fizemos modificações, devemos checar novamente como ficou
o banco de dados. Note que parece melhor do que antes, dado não termos mais **Missing Values**.

In [ ]:
## Estamos combinando o banco de dados novamente apenas para
## ver se resolvemos todos os problemas em ambos os casos.
pd.concat([train, test]).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 709 to 887
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   name      891 non-null    object
 3   sex       891 non-null    object
 4   age       891 non-null    float64
 5   sibsp     891 non-null    int64
 6   parch     891 non-null    int64
 7   ticket    891 non-null    object
 8   fare      891 non-null    float64
 9   cabin     891 non-null    int64
 10  embarked  891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.5+ KB

Note na saída do comando acima que **name**, **sex**, **ticket** e **embarked** estão marcados com *Dtype* do tipo *object*. Isso quer dizer que não são numéricos, mas a entrada da rede neural tem que ser sempre numérica.

Assuma que queremos usar **sex** e **embarked** na análise e ignorar os outros dois, então vamos ter que transformar os valores dessas colunas para servirem como entrada.

## Gerando valores numéricos

Temos
que mudar os valores que estão em **"Sex"** e em **"Embarked"** para números. No caso de **sex**, transformaremos **female** em 1 e **male** em 0.

In [ ]:
train["sex"] = (train.sex == "female").astype(int)
test["sex"]  = (test.sex  == "female").astype(int)

Para **Embarked**, teremos um pouco mais de trabalho. Poderíamos colocar "S", "Q" e "C" com os números 0, 1 e 2, por exemplo. Entretanto, as redes neurais podem achar que "C" é duas vezes maior do que "Q", por exemplo, e tentar fazer alguma suposição a partir disso, o que não faria sentido. Portanto, usaremos uma estratégia conhecida como OneHotEncoder. Primeiro, veja o código a seguir:

In [ ]:
pd.get_dummies(train.embarked)

     C  Q  S
709  1  0  0
439  0  0  1
840  0  0  1
720  0  0  1
39   1  0  0
..  .. .. ..
639  0  0  1
878  0  0  1
824  0  0  1
803  1  0  0
619  0  0  1

[713 rows x 3 columns]

O código obteve os valores (C, Q ou S) da coluna **embarked** e os tranformou em três colunas: **C**, **Q** e **S**, atribuindo 1 se anteriormente o valor em embarked era o valor da coluna, e 0 caso contrário.

O que faremos agora é inserir as novas colunas **C**, **Q** e **S** nos dataframes.

In [ ]:
train = pd.concat([train, pd.get_dummies(train.embarked).astype(int)], axis = "columns")
test =  pd.concat([test,  pd.get_dummies(test.embarked).astype(int)],  axis = "columns")

Vamos olhar agora os dados.

In [ ]:
train

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,C,Q,S
709,1,3,"Moubarek, Master. Halim Gonios (""William George"")",0,28.00,1,1,2661,15.2458,0,C,1,0,0
439,0,2,"Kvillner, Mr. Johan Henrik Johannesson",0,31.00,0,0,C.A. 18723,10.5000,0,S,0,0,1
840,0,3,"Alhomaki, Mr. Ilmari Rudolf",0,20.00,0,0,SOTON/O2 3101287,7.9250,0,S,0,0,1
720,1,2,"Harper, Miss. Annie Jessie ""Nina""",1,6.00,0,1,248727,33.0000,0,S,0,0,1
39,1,3,"Nicola-Yarred, Miss. Jamila",1,14.00,1,0,2651,11.2417,0,C,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,0,3,"Thorneycroft, Mr. Percival",0,28.00,1,0,376564,16.1000,0,S,0,0,1
878,0,3,"Laleff, Mr. Kristo",0,28.00,0,0,349217,7.8958,0,S,0,0,1
824,0,3,"Panula, Master. Urho Abraham",0,2.00,4,1,3101295,39.6875,0,S,0,0,1
803,1,3,"Thomas, Master. Assad Alexander",0,0.42,0,1,2625,8.5167,0,C,1,0,0
619,0,2,"Gavey, Mr. Lawrence",0,26.00,0,0,31028,10.5000,0,S,0,0,1

A nossa coluna **pclass** já tem dados numéricos. Entretanto, como argumentado antes, algum modelo de aprendizado de máquina pode interpretar que alguém da classe 3 é três vezes maior (em algum sentido) que alguém da classe 1. Entretanto, essa não é a semântica que queremos associar a esses valores. Por isso, vamos mudar os valores para OneHotEncoding. Antes de mudar os valores usando o procedimento que fizemos para Embarked, iremos transformar os valores numéricos em strings da seguinte forma:

In [ ]:
train["pclass"] = train.pclass.map(lambda x : "classe_"+str(x))
test["pclass"]  = test.pclass.map(lambda x : "classe_"+str(x))

In [ ]:
train

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,C,Q,S
709,1,classe_3,"Moubarek, Master. Halim Gonios (""William George"")",0,28.00,1,1,2661,15.2458,0,C,1,0,0
439,0,classe_2,"Kvillner, Mr. Johan Henrik Johannesson",0,31.00,0,0,C.A. 18723,10.5000,0,S,0,0,1
840,0,classe_3,"Alhomaki, Mr. Ilmari Rudolf",0,20.00,0,0,SOTON/O2 3101287,7.9250,0,S,0,0,1
720,1,classe_2,"Harper, Miss. Annie Jessie ""Nina""",1,6.00,0,1,248727,33.0000,0,S,0,0,1
39,1,classe_3,"Nicola-Yarred, Miss. Jamila",1,14.00,1,0,2651,11.2417,0,C,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,0,classe_3,"Thorneycroft, Mr. Percival",0,28.00,1,0,376564,16.1000,0,S,0,0,1
878,0,classe_3,"Laleff, Mr. Kristo",0,28.00,0,0,349217,7.8958,0,S,0,0,1
824,0,classe_3,"Panula, Master. Urho Abraham",0,2.00,4,1,3101295,39.6875,0,S,0,0,1
803,1,classe_3,"Thomas, Master. Assad Alexander",0,0.42,0,1,2625,8.5167,0,C,1,0,0
619,0,classe_2,"Gavey, Mr. Lawrence",0,26.00,0,0,31028,10.5000,0,S,0,0,1

Agora faremos a transformação:

In [ ]:
train = pd.concat([train, pd.get_dummies(train.pclass).astype(int)], axis = "columns")
test =  pd.concat([test,  pd.get_dummies(test.pclass).astype(int)],  axis = "columns")

Vamos olhar o banco que resultou

In [ ]:
train

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,C,Q,S,classe_1,classe_2,classe_3
709,1,classe_3,"Moubarek, Master. Halim Gonios (""William George"")",0,28.00,1,1,2661,15.2458,0,C,1,0,0,0,0,1
439,0,classe_2,"Kvillner, Mr. Johan Henrik Johannesson",0,31.00,0,0,C.A. 18723,10.5000,0,S,0,0,1,0,1,0
840,0,classe_3,"Alhomaki, Mr. Ilmari Rudolf",0,20.00,0,0,SOTON/O2 3101287,7.9250,0,S,0,0,1,0,0,1
720,1,classe_2,"Harper, Miss. Annie Jessie ""Nina""",1,6.00,0,1,248727,33.0000,0,S,0,0,1,0,1,0
39,1,classe_3,"Nicola-Yarred, Miss. Jamila",1,14.00,1,0,2651,11.2417,0,C,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,0,classe_3,"Thorneycroft, Mr. Percival",0,28.00,1,0,376564,16.1000,0,S,0,0,1,0,0,1
878,0,classe_3,"Laleff, Mr. Kristo",0,28.00,0,0,349217,7.8958,0,S,0,0,1,0,0,1
824,0,classe_3,"Panula, Master. Urho Abraham",0,2.00,4,1,3101295,39.6875,0,S,0,0,1,0,0,1
803,1,classe_3,"Thomas, Master. Assad Alexander",0,0.42,0,1,2625,8.5167,0,C,1,0,0,0,0,1
619,0,classe_2,"Gavey, Mr. Lawrence",0,26.00,0,0,31028,10.5000,0,S,0,0,1,0,1,0

Temos agora um conjunto de dados com várias colunas tratadas. Essas colunas podem ser usadas para treinar uma rede neural.

## Organizando os Dados

Vamos agora gerar os nossos dados para treinar a rede neural.

In [ ]:
x_train = train.loc[: , ["sex", "age", "sibsp", 'parch','fare','cabin', 'C', 'Q', 'S', 'classe_1', 'classe_2', 'classe_3']]
y_train = train.survived
x_test  = test.loc[:, ["sex", "age", "sibsp", 'parch','fare','cabin', 'C', 'Q', 'S', 'classe_1', 'classe_2', 'classe_3']]
y_test  = test.survived

O modo como você irá gerar os tensores dependerá de qual a função de custo que você irá utilizar. Você tem duas opções. Escolha a que achar mais adequada.

In [ ]:
import torch

In [ ]:
## Opção 1:
x_train_op1 = torch.tensor(x_train.values, dtype = torch.float)
x_test_op1  = torch.tensor(x_test.values,  dtype = torch.float)
y_train_op1 = torch.tensor(y_train.values, dtype = torch.float)
y_test_op1  = torch.tensor(y_test.values,  dtype = torch.float)

In [ ]:
## Opção 2:
x_train_op2 = torch.tensor(x_train.values, dtype = torch.float)
x_test_op2  = torch.tensor(x_test.values,  dtype = torch.float)
y_train_op2 = torch.tensor(y_train.values, dtype = torch.long)
y_test_op2  = torch.tensor(y_test.values,  dtype = torch.long)

In [ ]:
xt = x_train_op1
yt = y_train_op1.unsqueeze(-1)

xf = x_test_op1
yf = y_test_op1.unsqueeze(-1)

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
class BinaryClassifier(nn.Module):
    def __init__(self, input_dim):
        super(BinaryClassifier, self).__init__()
        self.input_layer = nn.Linear(input_dim, 128)
        self.hidden_layer = nn.Linear(128, 64)
        self.output_layer = nn.Linear(64, 1)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        out = torch.relu(self.input_layer(x))
        out = torch.relu(self.hidden_layer(out))
        out = self.sigmoid(self.output_layer(out))
        return out

In [ ]:
input_dim = 12
model = BinaryClassifier(input_dim)

In [ ]:
loss_fn = torch.nn.BCELoss()
learning_rate = 0.001
optimizer = optim.SGD(model.parameters(), lr=learning_rate, momentum=0.65)
epoches = 500
minib = 64

In [ ]:
for epoch in range(epoches):

    for i in range(0, len(xt), minib):
        x_batch = xt[i:i+minib]
        y_batch = yt[i:i+minib]


        optimizer.zero_grad()


        y_pred = model(x_batch)


        loss = loss_fn(y_pred, y_batch)


        loss.backward()
        optimizer.step()


    if (epoch + 1) % 100 == 0:
        print(f'Epoch [{epoch + 1}/{epoches}], Loss: {loss.item()}')

Epoch [100/500], Loss: 0.6296947598457336
Epoch [200/500], Loss: 0.5604423880577087
Epoch [300/500], Loss: 0.4876127243041992
Epoch [400/500], Loss: 0.4171118140220642
Epoch [500/500], Loss: 0.37704503536224365

In [ ]:



predictionst = model(xt)
predictionsf = model(xf)


survivedt = (predictionst > 0.5).float()
survivedf = (predictionsf > 0.5).float()


accuracytrain = (survivedt == yt).float().mean().item()
accuracytest = (survivedf == yf).float().mean().item()

print(f'Acurácia treino: {accuracytrain * 100:.2f}%')
print(f'Acurácia teste: {accuracytest * 100:.2f}%')

Acurácia treino: 81.21%
Acurácia teste: 80.34%

O seu trabalho agora é prosseguir de onde paramos e fazer um treinamento da rede neural. Você será avaliado da seguinte forma:

1. Consegue criar uma rede neural usando o método de herança de ``nn.Module``.
2. Consegue escolher uma função de custo adequada. Se você escolher uma função de custo que não condiz com o problema, então será descontado os seus pontos neste item, mesmo que o treinamento convirja.
3. Consegue utilizar um otimizador qualquer da biblioteca PyTorch. Se você errar no uso do otimizador, então será descontado os seus pontos neste item, mesmo que o treinamento convirja.
4. Consegue utilizar Mini-Batches.
5. Consegue computar uma acurácia com o banco de dados de teste.
6. A acurácia no banco de dados de teste foi superior a **0.80**.